body{
	width: 100%;
	font-size: 16px;
	font-family: 'Avenir-Heavy', 'Helvetica Neue', Arial, sans-serif;
	background-color: #fff;
}

.page-wrapper{
	width: 100%;
	background-color: #fff;
}


/*	<--TYPOGRAPHY-->*/


h1{
	font-size: 3.5em;
	font-weight: bold;
	letter-spacing: 0.02em;
	color: #fff;
}

h2{
	font-size: 1.6em;
	font-weight: bold;
	line-height: 1.4em;
	color: black;
	padding-bottom: 50px;
	text-align: center;
}

p{
	line-height: 1.8em;
	font-family: 'Helvetica Neue', sans-serif;
}


/*<--NAV-->*/


#home{
	background: url("../images/bg2.jpg") no-repeat center center fixed;	 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	margin: 0;
  	height: 100vh;
  	position: relative;
}

.nav-container{
	width: 100%;
}

#global-nav {
	position: fixed;
	top: 0;
	z-index: 9999;
	height: 96px;
	width: 100%;
	background: rgba(255,255,255,.0);
	color: #fff;
	-webkit-transition: height .3s, line-height .3s; /* Safari */
	transition: height .3s, line-height .3s;
}

nav{
	text-align: center;
	width: 50%;
}

nav.left-nav{
	text-align: left;
	float: left;
	padding-left: 30px;
}

nav.right-nav{
	text-align: right;
	float: right;
	padding-right: 30px;
}

nav ul{
	padding: 40px 0;
}

nav ul li{
	display: inline-block;
	padding: 0 10px;
	position: relative;
	letter-spacing: 0.08em;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	padding: 4px 6px;
}

nav ul li a:hover{
	color: #000;
	background-color: #fff;
}

nav ul li a.subpage{
	color: #000;
	background-color: #fff;
}

nav ul li a.subpage:hover{
	color: #fff;
	background-color: #000;
}

a.selected{
	background-color: #000!important;
	color: #fff!important;
}

.nav-scroll {
	display: inline-block;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.scrolled-nav .nav-scroll  {
  	font-size: 12px;
  	background-color: #000;
}

.scrolled-nav .nav-scroll:hover{
	background-color: #fff;
}

.scrolled-nav .nav-scroll.subpage{
	background-color: #fff;
}

.scrolled-nav .nav-scroll.subpage:hover{
	background-color: #000!important;
}

#logo{
	width: 100%;
	text-align: center;
	position: absolute;
  	top: 50%; left: 50%;
 	transform: translate(-50%,-50%);
 	padding: 0 30px;
}

#logo span{
	font-size: .35em;
}


/*<--BODY-->*/


.content-wrapper{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	text-align: left;
}

.content-wrapper a{
	color: #4460ba;
}

.content-wrapper a:hover{
	color: #6095cc;
}


/*<--ABOUT-->*/


#about{
	padding: 70px;
	width: 100%;
}

#avatar{
	width: 250px;
	margin: 0 auto;
}

#avatar img{
	width: 100%;
	border-radius: 50%;
}

.description{
	width: 100%;
}

.column-left{
	float: left;
	width: 50%;
	padding: 0 60px 0 0;
}

.column-right{
	float: left;
	width: 50%;
	padding: 0 0 0 60px;
}

.description p{
	text-align: justify;
}


/*PUBLICATIONS*/


#publications{
	padding: 70px;
	width: 100%;
	background-color: #f6f6f6;
}

.publication{
	padding-bottom: 30px;
	width: 60%;
	margin: 0 auto;
}

.publication:last-of-type{
	padding-bottom: 0;
}

.publication-detail{
	padding-bottom: 5px;
	font-size: 1.1em;
}

.date{
	color: #8e8e8e;
}

span.bold{
    font-weight: bold;
}


/*ORBITAL*/


.orbital{
	padding: 40px;
	width: 100%;
	background-color: #FFF;
}

.gif{
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

.gif img{
	width: 100%;
	text-align: center;
}

.orbital p{
	width: 60%;
	margin: 0 auto;
	padding: 40px 0;
}


/*CONTACT*/


#contact{
	padding: 70px;
	width: 100%;
}

#contact p{
	text-align: center;
}

#contact p:first-of-type{
	padding-bottom: 20px;
}

#backtotop{
	font-weight: 500;
	padding: 60px 0 0 0;
}

#backtotop a{
	background-color: #f6f6f6;
	color: #000;
	padding: 10px 20px;
	font-family: 'Avenir-Heavy', 'Helvetica Neue', Arial, sans-serif;
	text-decoration: none;
}

#backtotop a:hover{
	background-color: #fbfbfb;
}


/*FOOTER*/


footer{
	padding: 0 40px 40px 40px;
	width: 100%;
	bottom: 0;
}

footer p{
	font-weight: 500;
	font-size: .8em;
	letter-spacing: 0.05em;
	color: rgba(100,100,100,.7);
	text-align: center;
}

footer a{
	color: rgba(100,100,100,.7);
}

footer a:hover{
	opacity: .6;
}


/*<--CLEARFIX-->*/


.clearfix:after { 
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0; 
}


/*<--RESPONSIVE-->*/


@media only screen and (max-width: 1024px){
	#home{	
		background: url("../images/bg2.jpg");	 
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	  	margin: 0;
	}

	.orbital h2{
		padding-top: 60px;
	}
}

@media only screen and (max-width: 900px){
	nav{
		text-align: center;
		width: 100%;
	}

	nav.left-nav,nav.right-nav{
		text-align: center;
		float: none;
		padding-left: 0;
		padding-right: 0
	}

	nav ul{
		padding: 30px 0;
	}

	nav.right-nav ul{
		width: 75%;
		margin: 0 auto;
		padding-top: 10px;
	}

	nav ul li a{
		opacity: 1;
	}

	.subpage nav ul li a{
		opacity: 1;
	}

	h2{	
		padding-bottom: 40px;
	}

	#about,#publications,#contact,.orbital{
		padding: 60px;
	}

	#avatar{
		width: 200px;
	}

	.column-left{
		padding: 0 40px 0 0;
	}

	.column-right{
		padding: 0 0 0 40px;
	}

	.publication{
		width: 80%;
	}
}

@media only screen and (max-width: 700px){
	#global-nav{
		position: static;
	}

	.orbital h2{
		padding-top: 20px;
	}

	#avatar{
		padding-bottom: 40px;
	}

	.column-left{
		float: none;
		width: 100%;
		padding: 0;
	}

	.column-right{
		float: none;
		width: 100%;
		padding: 60px 0 0 0;
	}

	.publication{
		width: 100%;
	}

	.orbital .gif,.orbital p{
		width: 100%;
	}
}

@media only screen and (max-width: 450px){
	nav ul{
		padding: 20px 0;
	}

	nav ul li{
		padding: 0 4px;
	}

	nav ul li:first-of-type{
		padding-left: 0;
	}

	nav ul li:last-of-type{
		padding-right: 0;
	}

	nav.right-nav ul{
		width: 90%;
	}

	#logo,#about,#publications,#contact,.orbital{
		padding: 60px 30px;
	}

	.orbital h2{
		padding-top: 0;
	}
}