# Mac
.DS_Store/

# Environment
.env

# AWS
.aws-sam/
template.yaml

# Hydra
outputs/

# Python
__pycache__/

# Fortran
functions/mandelbrot/Fortran/.f2py_f2cmap
functions/mandelbrot/Fortran/f90wrap_mandelbrot.f90
functions/mandelbrot/Fortran/mandelbrot.cpython-311-darwin.so
functions/mandelbrot/Fortran/mandelbrot.mod
functions/mandelbrot/Fortran/mandelbrot.o
functions/mandelbrot/Fortran/mandelbrot.py