# Mac
.DS_Store

# Environment
.env

# AWS
.aws-sam/
template.yaml

# Hydra
outputs/

# Python
__pycache__/

# Fortran
*.mod
*.o
*.so
*.f2py_f2cmap

# Fortran
functions/mandelbrot/Fortran/.f2py_f2cmap
functions/mandelbrot/Fortran/f90wrap_mandelbrot.f90
functions/mandelbrot/Fortran/mandelbrot.py

# vscode
.vscode/
